.section-5{
    width: 80%;
    margin: 150px auto;
    .container-password{
        width: 360px;
        margin: auto;
        height: 280px;
        background:#c9c9c9;
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        transition: 0.5s all;
    }h1{
        font-size: 40px;
        color: #333;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    form {
        label{
            display: block;
            width: 250px;
            margin: 10px auto 0 auto;
            text-align: left;
        }
        .tbox{
            width: 260px;
            height: 40px;
            background: #f1f1f1b3;
            margin: 10px auto;
            border-radius: 10px;
            input{
                background: none;
                border: none;
                outline: none;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: #333;
            }
        }
        .submit{
            width: 260px;
            height: 40px;
            background: #df7817;
            margin: 14px auto;
            border-radius: 10px;
            border: none;
            color: #fff;
            cursor: pointer;
        }
    }
}