*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;   
}
body{
    background: linear-gradient(135deg, #2e2e2e ,#2d0080);
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite alternate;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 75% 50%;}
    100% {background-position: 0% 50%;}
  }
//menu-mobile
.menu-mobile{
    display: none;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100vh;
    display: block;
    z-index: 1;
    ul{
        transition: all 0.3s ease-in;
        transform: translateX(-100%);
        width: 100%;
        height: 100%;
        background: #1e7277;
        text-align: center;
        li{
            border-top: 1px dotted white;
            width: 100%;
            height: 50px;
            a{
                line-height: 50px;
                font-size: 1rem;
                text-decoration: none;
                color: #e6e7e8;
                display: block;
                opacity: 0;
            }
        }
        .menu-list{
            background: #e6e7e8;
            a{
                color: #1e7277;
            }
        }
    }
}

//navbar
#navigation-bar{
    width: 100%;
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    transition: all 0.3s ease-in;
    &.navbar-active{
        height: 50px;
        background: rgba(0, 0, 0, 0.295);
        transition: all 0.3s ease-in;
            ul.menu{
            width: 80%;
            transition: all 0.3s ease-in;
        }
        .border-bar{
            width: 200px; 
            transition: all 0.3s ease-in;
        }
    }
    .logo{
        display: flex;
        width: 100%;
        padding: 0 0 0 3rem;
        align-self: center;
        p{
            font-family: 'Courier New', Courier, monospace;
            font-size: 2rem;
            font-weight: bold;
            color: #ffffff;
            text-shadow: 0.5px 1px 1px #000, 1px 1.5px 1px #fff;
            cursor: pointer;
        }
    }
    ul.menu{
        display: flex;
        justify-content: space-around;
        align-self: center;
        width: 100%;
        li{
            a{
                color: #ffffffea;
                font-size: 1rem;
                text-decoration: none;
                &:hover{
                    color: #ff8686;
                }
            }
        }
    }
    .border-bar{
        display: flex;
        width: 300px;
        align-self: center;
        .burger{
            background: #4ccf00;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            position: relative;
            cursor: pointer;
            top: 0;
            left: 0;
            display: none;
            &:hover{
                background: #4ccf00c0;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
            }
            div{
                width: 22px;
                height:4px;
                background: #ffffff;
                margin: 4px 0;
                border-radius: 50px;
                position: relative;
                top: 15%;
                left: 23.5%;
                right: 0;
                bottom: 0;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
                }
        }
        .game-button{
            background: #144691;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            position: relative;
            cursor: pointer;
            top: 0;
            left: 0;
            text-align: center;
            &:hover{
                background: #1955ad;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
            }
            i{
                font-size: 1.6rem;
                color: #fff;
                position: absolute;
                top: 15%;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
            }
        }    
        .home-button{
            background: #148c91;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            position: relative;
            cursor: pointer;
            top: 0;
            left: 0;
            text-align: center;
            &:hover{
                background: #1aa7ac;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
            }
            i{
                font-size: 1.6rem;
                color: #fff;
                position: absolute;
                top: 15%;
                left: 0;
                right: 0;
                bottom: 0;
                -webkit-transition: .3s all ease;
                transition: .3s all ease;
            }
        }    
    }
}

@media all and (min-width:576px)and (max-width:767px){
    #navigation-bar{
        ul.menu{
            display: none;
        }
        .border-bar{
            .burger{
                display: block;
            }
        }
    }
}


@media all and (max-width:575px){
    #navigation-bar{
        width: 100%;
        height: 120px;
        display: block;
        position: sticky;
        top: 0;
        transition: all 0.3s ease-in;
        padding: 5px 0;
        &.navbar-active-mobile{
            background: rgba(0, 0, 0, 0.295);
            transition: all 0.3s ease-in;
        }
        .logo{
            width: 200px;
            margin: auto;
        }
        ul.menu{
            display: none;
        }
        .border-bar{
            width: 200px;
            margin: 15px auto;
            .burger{
                display: block;
                order: 3;
            }
    }
}
}

// active
.nav-active {
    ul{
        transform: translateX(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

//section1
.section-1{
    width: 50%;
    margin: 50px auto;
    img{
        width: 100%;
    }
}
//section2
.section-2{
    width: 80%;
    margin: 0 auto;
    .row{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        .card{
            width: 30%;
            margin: 1%;
            box-shadow: 2px 2px 5px black;
                img{
                    width: 100%;
            }
                h1,p{
                    color: white;
                    text-align: center;
            }
        }
    }
}

@media all and (max-width:767px){
    .section-2{
        width: 90%;
        margin: 0 auto;
        .row{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            .card{
                width: 48%;
                margin: 1%;
                box-shadow: 2px 2px 5px black;
                    img{
                        width: 100%;
                }
                    p{
                        display: none;
                }
            }
        }
    }
}




