.section-6{
    width: 80%;
    margin: 0 auto;
    .weather-about{
      color: #fff;
      opacity: 0;
      h1{
        font-size: 58px;
        font-weight: 400;
      }
    }
    .row{
      display: flex;
      flex-flow: row wrap;
      .col-md-6{
        width: calc(100% / 12 * 6);
        .card{
          height: 100px;
          width: 350px;
          margin: 50px auto 80px auto;
          position: relative;
          background-color: pink;
          border-radius: 20px;
          padding: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          box-shadow: 0px 7px 30px 2px rgba(0,0,0,0.18);
          ul>li{
            img{
              width: 30px;
            }
            font-size: 17px;
            color: white;
          }
          h1{
            color:white;
            position: absolute;
            left: 10px;
            bottom: 0px;
          }
          .date{
            position: absolute;
            right: 10px;
            top: 10px;
            text-align: right;
            color: white;
          }
          .city{
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: white;
          }
        }
        
        .list-inline{
          margin-bottom: 0 !important;
        }
        
        h3{
          margin: 0 !important;
        }
      }
    }
}
  
@media screen and (max-width: 991px){
  .section-6{
    .row{
      .col-md-6{
        width: 100%;
      }
    }
  }
}